pandas
numpy
scikit-learn
# matplotlib
# seaborn
gdown
# mlflow
# dagshub
xgboost
earthengine-api
geemap
fastapi
uvicorn[standard]
pydantic
python-multipart
aiofiles
joblib
pyyaml
sqlalchemy
psycopg2-binary
geoalchemy2
alembic
geopandas
shapely
rasterio
pyproj
fiona
rtree
pysheds
xarray
netCDF4
cfgrib
cdsapi
scipy
python-dotenv
python-multipart
pydantic
pydantic-settings